<h2>hola soy la pagina nosotros</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui maiores omnis quas expedita nobis. Tempore sapiente
    beatae non rerum possimus eligendi magnam, dolorum a fugit quae veritatis molestiae culpa rem!</p>